{# templates/category/_categories.html.twig #}

<ul>
    {% for category in categories %}
        <li class="ml-4">
            <h4>
                <a href="{{
                    path(
                        'category_show',
                        { category: category.slug }
                    )
                    }}"
                    class="dark">
                    {{ category.name|capitalize }}
                </a>
            </h4>
        </li>
    {% else %}
        <li class="text-dark">Aucun catégorie disponible.</li>
    {% endfor %}
</ul>
