{% extends 'base.html.twig' %}

{% block title %}All program categories
{% endblock %}

{% block body %}
	<div class="categories_index main">
		{% block header %}
			<h1>Choississez une catégorie:</h1>
			<hr/>
		{% endblock %}
		{% for category in categories %}
			<h2>
				<li class="ml-4">
					<a href="{{path('categories_show', {categoryName: category.name})}}" class="dark">
						{{ category.name }}
					</a>
				</li>
			</h2>
		{% endfor %}
	</div>
{% endblock %}
