{# templates/category/index.html.twig #}
{% extends '_base.html.twig' %}

{% block localTitle %}
    Categories
{% endblock localTitle %}

{% block nav_r_items %}
    <a href="{{ path('category_new') }}">
        <button type="button" class="btn btn-hoverLight">
            Nouvelle catégorie
        </button>
    </a>
{% endblock nav_r_items %}

{% block title %}
    Choississez une catégorie:
{% endblock title %}

{% block content %}
    <div class="category_index main">
        {% include 'category/_categories.html.twig' %}
    </div>
{% endblock content %}
