{% extends '_fullbase.html.twig' %}

{% block body %}
	<div class="category_show main">
		{% block header %}
			<div class='header'>
				<h1>
					Séries trouvées pour la catégorie
					{{category.name}}
				</h1>
				<hr/>
			</div>
		{% endblock %}
		<div>
			{% for program in programs %}
				<a href="{{path('program_show', {program: program.slug})}}">
					<h2>
						{{program.title}}
					</h2>
				</a>
				<p class="ml-4">{{program.summary}}
				</p>
			{% else %}
				Aucune série trouvée.
			{% endfor %}
		</div>
	</div>
{% endblock %}
