{#	templates/episode/_index.html.twig#}

<ul>
	{% for episode in episodes %}
		<li>
			<a class="dark"
				href={{path('program_episode_show', {program: program.slug, season: season.id, episode: episode.slug} )}}>
				Episode {{episode.number}}
				:
				{{episode.title}}
			</a>
		</li>
	{% else %}
		<li class="text-dark">Aucun épisode disponible</li>
	{% endfor %}
</ul>
