{# templates/season/_seasons.html.twig #}

<ul>
	{% for season in program.seasons %}
		<li>
			{# TODO Lien vers le nom d'une route #}
			<a class="brown"
				href='{{path('program_season_show',{ program: program.slug, season: season.id })}}'>
				{{ 'Saison ' ~ season.number}}
				{% if season.year %}
				-
				{% endif %}
				{{ season.year }}
			</a>
		</li>
	{% else %}
		<li class="text-brown">Aucune saison disponible</li>
	{% endfor %}
</ul>
