{% extends "_baseEmail.html.twig" %}
{% block page_title %}{% endblock %}
{% block content %}
	<div class="main">
		<h1>Une nouvelle série a été crée !!!</h1>
		<hr/>
		<p>Nom de la série:
			<strong>{{program.title}}</strong>
		</p>
		<p>Description:
			{{program.summary}}</p>
		<hr/>
		<p>
			<a href={{url}} class="black">Retrouver plus d'info sur notre site</a>
		</p>
	</div>
{% endblock %}
