{# templates/homepage/index.html.twig #}
{% extends '_base.html.twig' %}

{% block localTitle %}
    Accueil
{% endblock localTitle %}

{% block nav_r_items %}
    {% if app.user %}
        <a href="{{ path('logout') }}">
            <button type="button" class="btn btn-hoverLight">
                Déconnexion
            </button>
        </a>
    {% else %}
        <a href="{{ path('login') }}">
            <button type="button" class="btn btn-hoverLight">Connexion</button>
        </a>
    {% endif %}
{% endblock nav_r_items %}

{% block title %}
    Bienvenue sur le site de Wild Séries
{% endblock title %}

{% block content %}
    <div class="programs main">
        <p>
            Retrouve plein d'infos sur tes séries et tes acteurs préférés !!!
        </p>
    </div>
{% endblock content %}
