.link-black {
    text-decoration: none;
    color: $black;
    &:hover {
        color: $danger;
    }
}

.danger-text {
    color: $danger;
    @extend .font-secondary;
    font-weight: bold;
    font-size: 1.1em;
}

// buttons
.btn-dark {
    background-color: $dark;
    color: $light;
    border-color: $light;
    font-weight: bold;
    &:hover {
        background-color: $primary;
        color: $dark;
        border-color: $secondary;
    }
}

.btn-hoverLight {
    @extend .btn-danger;
    background-color: $secondary;
    color: $hoverLight;
    border-color: $primary;
    font-weight: bold;
    &:hover {
        background-color: $hoverLight;
        color: $dark;
        border-color: $primary;
    }
}

.message_error {
    @extend .font-primary;
    color: red;
    font-size: 0.9em;
}

.background-light {
    @extend .wrap-box;
    background-color: $white;
}

.wrap-box {
    border: 1pt $secondary solid;
    padding: 0.5em 1.5em 0.5em 0.5em;
    border-radius: 5px;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
