.fw-bold {
    font-weight: bold !important;
}

.text-black {
    color: #000 !important;
}

.text-brown {
    color: $brown;
}

.text-dark {
    color: $dark;
}

.font-primary {
    font-family: $iceberg !important;
}

.font-secondary {
    font-family: $stylish !important;
}

.font-main {
    font-family: $roboto !important;
}

.required {
    &::after {
        content: " *";
    }
}
