.fw-bold {
    font-weight: bold !important;
}

.text-black {
    color: #000 !important;
}

.font-primary {
    font-family: $iceberg !important;
}

.font-secondary {
    font-family: $stylish !important;
}

.font-main {
    font-family: $roboto !important;
}
