// Colors
$primary: #dd9f6d;
$danger: #870808;
$secondary: #9a3a3ade;
$dark: #272730;
$light: #e7ca78b2;
$hoverLight: #ffc8c1;

// Fonts
$iceberg: "Iceberg", cursive;
$stylish: "Stylish", sans-serif;
$roboto: "Roboto", sans-serif;
