@import "@imports";

.navbar {
    background-color: $dark !important;
    .navbar-brand {
        color: $primary !important;
        font-family: $stylish !important;
        font-size: 2rem;
        font-weight: bold;
    }
    a {
        color: $light;
        font-size: 1.25em;
        font-family: $iceberg;
        margin-top: 0.25em;
        &:hover {
            color: $hoverLight !important;
        }
        &:active {
            color: $danger !important;
            font-weight: bold;
        }
    }
}

.main-container {
    color: $dark;
    width: 75%;
    margin: 1.5em auto;
    a {
        h2 {
            @extend .link-black;
        }
    }
    h2 {
        font-family: $stylish;
        color: $dark;
    }
    h5 {
        margin-left: 0.5em;
    }
    .message_error {
        width: 75%;
        margin: -1em 0 0.75em 0.5em;
        ul {
            margin: 0;
            padding-left: 0;
            padding: 0.25em;
            li {
                list-style-type: none;
            }
        }
    }
    .header {
        margin-bottom: 2em;
        h1 {
            color: $secondary;
            font-family: $iceberg;
        }
        h2 {
            color: $dark;
        }
    }
    .season_list {
        @extend .wrap-box;
        background-color: $light;
        width: 100%;
        li {
            list-style-type: none;
        }
        h5 {
            font-weight: bold;
            padding-top: 0.5em;
        }
        hr {
            width: 90%;
        }
    }
    .programs {
        li {
            list-style-type: none;
        }
        h3 {
            font-family: $iceberg;
        }
    }
    .tabs {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        width: 100%;
        margin-bottom: 0;
        li {
            border: 1px solid #000;
            border-radius: 5px 5px 0 0;
            border-bottom: none;
            padding: 0.5em 0.75em;
            &:nth-of-type(1n + 2) {
                margin-left: 0.35em;
            }
            &:hover {
                &:not(.selected):not(.disabled) {
                    cursor: pointer;
                    transition: all 0.25s;
                    font-weight: bold;
                    background-color: lighten($primary, 8%);
                }
            }
            &.selected {
                background-color: $dark;
                color: $primary;
                font-weight: bold;
            }
            &.disabled {
                color: rgba($dark, $alpha: 0.5);
                border-color: rgba($dark, $alpha: 0.5);
            }
        }
    }
    .poster {
        box-shadow: 2px 0 3px $dark;
        img {
            height: 500px;
        }
    }
    .category_index {
        h4 {
            font-family: $iceberg;
        }
    }
    form {
        @extend .wrap-box;
        @extend .flex-col-center;
        width: 100%;
        margin: auto;
        background-color: $light;
        .form_errors {
            color: $danger;
        }
        .input-group {
            width: 75%;
            &.int {
                width: 15%;
            }
            &.tynint {
                width: 10%;
            }
            textarea {
                min-height: 10em;
            }
            input[type="checkbox"] {
                margin-right: 0.5em;
                margin-left: 0.75em;
                height: 0.9em;
                width: 0.9em;
            }
        }
        .form-control {
            border-color: $primary;
            @extend .font-main;
            color: $dark;
        }
        label {
            @extend .font-secondary;
            font-size: 1.25em;
        }
    }
    .alert-box {
        @extend .wrap-box;
        background-color: $danger;
        color: $primary;
        margin: auto;
        text-align: center;
        font-weight: bold;
        width: 50%;
    }
    .media {
        border: 1px inset $dark;
        border-radius: 0 5px 5px;
        .media-body {
            padding: 1em;
        }
    }
    .bottom-nav {
        padding-left: 0.35em;
        margin-top: 0.25em;
        a {
            @extend a.brown;
        }
        .divider {
            font-weight: bold;
            padding: 0 0.25em;
        }
    }
}
