@import "@imports";

.navbar {
    background-color: $dark !important;
    .navbar-brand {
        color: $primary !important;
        font-family: $stylish !important;
        font-size: 2rem;
        font-weight: bold;
    }
    a {
        color: $light;
        font-size: 1.25em;
        font-family: $iceberg;
        margin-top: 0.25em;
        &:hover {
            color: $hoverLight !important;
        }
        &:active {
            color: $danger !important;
            font-weight: bold;
        }
    }
}
.main {
    color: $dark;
    width: 75%;
    margin: 1.5em auto;
    a {
        h2 {
            @extend .link-black;
        }
    }
    h1 {
        color: $secondary;
        font-family: $iceberg;
    }
    h2 {
        font-family: $stylish;
        color: $black;
    }
    .header {
        margin-bottom: 2em;
        h1 {
            color: $secondary;
            font-family: $iceberg;
        }
    }
    .season_list {
        display: flex;
        border: 1pt solid $secondary;
        background-color: $light;
        border-radius: 5px;
        width: 100%;
        li {
            list-style-type: none;
        }
        p {
            font-weight: bold;
            padding-top: 0.5em;
        }
        hr {
            width: 90%;
        }
    }
    &.program_show {
        img {
            height: 750px;
        }
    }
    &.season_show,
    &.episode_show {
        img {
            height: 500px;
        }
    }
}
