<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon"
            type="image/png"
            href="{{ asset('build/logo.png') }}" />
        <title>
            {% block title %}
                Welcome!
            {% endblock title %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock stylesheets %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock javascripts %}
    </head>
    <body>
        <header>
            {% block navbar %}
            {% endblock navbar %}
        </header>
        {% block body %}
            {% block header %}
            {% endblock header %}
        {% endblock body %}
    </body>
</html>
